.border{
    border: 2px solid black;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-item{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.pointer{
  cursor: pointer;
}


/* Track */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; /* color of the scrollbar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar on hover */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222; /* color of the track */
  }